<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doglandia.medialoader">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback"
        android:name=".MediaLoaderApplication">
        <!--<activity-->
            <!--android:name=".sample.MainActivity"-->
            <!--android:banner="@drawable/app_icon_your_company"-->
            <!--android:icon="@drawable/app_icon_your_company"-->
            <!--android:label="@string/app_name"-->
            <!--android:logo="@drawable/app_icon_your_company"-->
            <!--android:screenOrientation="landscape">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".sample.DetailsActivity" />-->
        <!--<activity android:name=".sample.PlaybackOverlayActivity" />-->
        <!--<activity android:name=".sample.BrowseErrorActivity" />-->

        <activity android:name=".playmedia.PlayMediaActivity">
        </activity>

        <activity android:name=".videolib.VideoLibraryActivity"/>

        <activity android:name=".introduction.IntroductionActivity"
            android:theme="@style/Theme.Leanback.Onboarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="27a3fa3d196a979b0c89693de3b906fb4c10a758" />
    </application>

</manifest>
